html, body {
	width: 120%;
    height: 120%;
    margin: 0;
    background: black;
}

* {
    box-sizing: border-box;
}

div.magenta {
	height: 1%;
	width: 0.5%;
	background: #8b2233;
	float: left;
}

div.lightgreen {
	height: 1%;
	width: 0.5%;
	background: #17ac00;
	float: left;
}

div.lightpink {
	height: 1%;
	width: 0.5%;
	background: #d543e4;
	float: left;
}

div.darkpink {
	height: 1%;
	width: 0.5%;
	background: #e15cc5;
	float: left;
}

div.black {
	height: 1%;
	width: 0.5%;
	background: black;
	float: left;
}

div.darkgrey {
	height: 1%;
	width: 0.5%;
	background: darkgrey;
	float: left;
}

div.darkblue {
	height: 1%;
	width: 0.5%;
	background: darkblue;
	float: left;
}

div.lightgrey {
	height: 1%;
	width: 0.5%;
	background: lightgrey;
	float: left;
}

div.lightblue {
	height: 1%;
	width: 0.5%;
	background: lightblue;
	float: left;
}

div.nude {
	height: 1%;
	width: 0.5%;
	background: #ffcf99;
	float: left;
}

div.lightnude {
	height: 1%;
	width: 0.5%;
	background: #ffc79b;
	float: left;
}

div.darknude {
	height: 1%;
	width: 0.5%;
	background: #dd8464;
	float: left;
}

div.armygreen {
	height: 1%;
	width: 0.5%;
	background: #376f16;
	float: left;
}

div.lilac {
	height: 1%;
	width: 0.5%;
	background: #9781d3;
	float: left;
}

div.purple {
	height: 1%;
	width: 0.5%;
	background: #6a15bb;
	float: left;
}

div.darkpurple {
	height: 1%;
	width: 0.5%;
	background: #380e50;
	float: left;
}

div.yellow {
	height: 1%;
	width: 0.5%;
	background: yellow;
	float: left;
}

div.gold {
	height: 1%;
	width: 0.5%;
	background: gold;
	float: left;
}

div.lightyellow {
	height: 1%;
	width: 0.5%;
	background: lightyellow;
	float: left;
}

div.red {
	height: 1%;
	width: 0.5%;
	background: red;
	float: left;
}

about me text
encryption ideas



