html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    font-family: modesto-text, serif;
	font-weight: 300;
	font-style: normal;
}

body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

* {
    box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	text-align: center;
	font-size: 25pt;
}

main img{
	width: 700px;
	height: 155px;
	margin: 20% 20% 20% 20%;
}

nav {
	background: rgba(140, 140, 140, 0.7);
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding-left: 22%;
  padding-right: 22%;
}



nav a{
  text-decoration: none;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 6%;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 2px;
}

nav a:hover {
  color: black;
}

@media(max-width: 400px) {

}